(
    name: {
        eng: "",
        jpn: "",
        ger: "",
        fr: "",
        it: "",
        esp: "",
        kor: "",
        zh_Hans: "", // Chinese (Simplified)
        zh_Hant: ""  // Chinese (Traditional)
    },
    generation: 0,
    dex_id: {
        national: 0,
    },
    type: {
        main: "",
        secondary: "",
    }
    description: {
        eng: "",
        jpn: "", // Japanese
        ger: "", // German
        fr: "", // French
        it: "", // Italian
        esp: "", // Spanish
        kor: "", // Korean
        zh_Hans: "", // Chinese (Simplified)
        zh_Hant: "" // Chinese (Traditional)
    },
    stats: {
        base: {
            hp: 0,
            attack: 0,
            defense: 0,
            sp_attack: 0,
            sp_defense: 0,
            speed: 0,
        },
        ev: {
            hp: 0,
            attack: 0,
            defense: 0,
            sp_attack: 0,
            sp_defense: 0,
            speed: 0,
        },
        misc: {
            egg_groups: {
                group_1: ""
                group_2: ""
            },
            gender: {
                male: 0.0
                female: 0.0
                no_gender: 0.0
            },
            catch_rate: 0,
            base_friendship: 0,
            base_exp: 0,
            growth_rate: MEDIUM_SLOW
        }
    },
    evolution: {
        { method: "level_up", to: "ivysaur", condition: "level >= 16" },
    }
    attacks: {
        level_up_attacks: [
            { attack: "growl", level: 1 },
        ],
        hm_tm_attacks: [
            { attack: "toxic", hm_tm: "TM06" },
        ],
        egg_attacks: [
            { attack: "amnesia" },
        ],
        tutor: [

        ]
    },
    sprites: {
        normal: {
            front: "snake_texture.png",
            back: "snake_texture.png"
        },
        shiny: {
            front: "snake_texture.png",
            back: "snake_texture.png"
        }
    }
)